// office box styles
.office-box {
  padding: em-calc(18) em-calc(24);
  margin: 0 0 em-calc(20);
  background-color: $light-grey;

  h3 {
    margin-bottom: 2px;
  }
}
.office-meta {
  margin-bottom: em-calc(6);
  .phone, .hours {
    display: inline-block;
    padding-right: 12px;
    &:before {
      @extend .icon;
      padding-right: 6px;
      font-size: 18px;
      vertical-align: text-top;
      color: darken($grey, 20%);
    }
  }
  .phone:before {
    content: $icon-phone;
  }
  .hours {
    font-style: italic;
    &:before {
      content: $icon-clock;
    }
  }
}
