.facebook {
    font-size: 0;
    &:before {
        content: $icon-facebook;
        @extend .icon;
        font-size: 20px;
    }
}

.twitter {
    font-size: 0;
    &:before {
        content: $icon-twitter;
        @extend .icon;
        font-size: 20px;
    }
}

footer {
    background-color: $dark;
    color: lighten($grey, 40%);
    width: 100%;
    height: 100px;  
    padding: 2em;
}

.row > div {
    @include grid-column(3);
    width: 33%;
    text-align: center;
}

.copyright {
    float: left;
}

.footer-links {
    display: inline-block;
    
    margin-top: 10px;
    a {
        text-align: center;
        color: $blue;
    }
}

.hotline {
    float: right;
}

.hotline > p {
    margin: 0 auto;
}
