.facebook {
    font-size: 0;
    &:before {
        content: $icon-facebook;
        @extend .icon;
        font-size: 20px;
    }
}

.twitter {
    font-size: 0;
    &:before {
        content: $icon-twitter;
        @extend .icon;
        font-size: 20px;
    }
}

footer {
    background-color: $dark;
    color: $light-grey;
    width: 100%;
    
}

.hotline {
    float: right;
}

.footer-links {
    float: left;
}

.hotline > p {
    margin: 0 auto;
}
