.facebook {
    font-size: 0;
    &:before {
        content: $icon-facebook;
        @extend .icon;
        font-size: 30px;
    }
}

.twitter {
    font-size: 0;
    &:before {
        content: $icon-twitter;
        @extend .icon;
        font-size: 30px;
    }
}

.page-footer {
    background-color: $dark;
    color: lighten($grey, 40%);
    width: 100%;
    padding: 2em;
    margin-top: em-calc(100);
}


.footer-row > .column {
    @include grid-column(4);
}

.hotline {
    text-align: left;
    font-size: 14px;
}

.copyright {
    text-align: center;
}

.footer-links {
    text-align: right;
    a {
        color: $blue;
    }
}

label {
        display: inline-block;
        margin-right: 2%;
    }


.hotline > p {
    margin: 0 auto;
}
