.logo {
  display: block;
  background: url(../images/logo.svg) no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
  text-indent: -999px;
  &:after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
}

// header
.page-header {
  position: relative;
  min-height: 300px;
  padding: em-calc(50) 0;
  background: url(../images/header.jpg) no-repeat 50% 25%;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($dark-alt, 0.6);
  }

  .row {
    position: relative;
    z-index: 1;
  }

  .logo {
    width: 250px;
  }
}

// main menu bar
.nav-main {
  position: relative;
  margin-bottom: em-calc(40);
  background-color: $dark;
  z-index: 10;

  .main-menu {
    float: left;
  }
  .search-form {
    float: right;
  }
}

// mobile menu trigger
// breakpoint also used in main.js for modernizr test
$bp-menu: '(min-width: 870px)';
$bp-menu-mobile: '(max-width: 869px)';
.mobile-menu-trigger {
  position: relative;
  display: block;
  float: left;
  padding: em-calc(10, 20) em-calc(44, 20) em-calc(10, 20) em-calc(20, 20);
  font-size: 20px;
  line-height: 1.3;
  color: lighten($grey, 40%);
  text-decoration: none;
  text-transform: uppercase;

  .icon-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
    speak: none;
    @include transition(background 0.3s);

    &, &:before, &:after {
      width: 30px;
      height: 3px;
      background-color: lighten($grey, 40%);
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }

    &:before {
      top: -8px;
      transition-property: top, transform;
    }
    &:after {
      bottom: -8px;
      transition-property: bottom, transform;
    }
  }

  &.open {
    .icon-menu {
      background-color: transparent;
      &:before {
        top: 0;
        @include rotate(45deg);
        transition-delay: 0s, 0.3s;
      }
      &:after {
        bottom: 0;
        @include rotate(-45deg);
        transition-delay: 0s, 0.3s;
      }
    }

    ~ .main-menu {
      visibility: visible;
      @include transform(scaleY(1));
    }
  }

  @include breakpoint($bp-menu) {
    display: none;
  };
}

.main-menu {
  @include breakpoint($bp-menu-mobile) {
    position: absolute;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $dark;
    overflow: hidden;
    @include transform(scaleY(0));
    @include transform-origin(center top);
    @include transition(all 0.3s ease);
  }

  li {
    @include breakpoint($bp-menu) {
      display: inline-block;
    }
  }

  a {
    position: relative;
    display: block;
    padding: em-calc(10, 18) em-calc(20, 18);
    font-size: 18px;
    color: lighten($grey, 40%);
    text-decoration: none;
    text-transform: uppercase;
    &:after {
      content: "";
      position: absolute;
      left: 6px;
      right: 6px;
      top: 6px;
      bottom: 6px;
      border-top: 2px solid lighten($grey, 40%);
      border-bottom: 2px solid lighten($grey, 40%);
      @include transform(scaleX(0));
      @include transition(all 0.3s ease);
    }
    &:hover, &:focus {
      &:after {
        @include transform(scaleX(1));
      }
    }
  }
  .active a, a:hover, a:focus {
    &:after {
      @include transform(scaleX(1));
    }
  }

  .dropdown {
    position: relative;

    @include breakpoint($bp-menu) {
      &:hover {
        a {
          background-color: lighten($dark, 20%);
        }
        .dropdown-menu {
          visibility: visible;
          @include opacity(1);
          @include transform(rotateX(0));
        }
      }
    }

    @include breakpoint($bp-menu-mobile) {
      // plus signs and expanding
    }
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    min-width: 200px;
    visibility: hidden;
    background-color: lighten($dark, 20%);
    @include transition(all 0.25s ease);

    @include breakpoint($bp-menu) {
      @include opacity(0);
      @include transform(rotateX(-90deg));
      @include transform-origin(center top);
    }

    li {
      display: block;
    }
  }
}

// search bar
.search-form {
  position: relative;

  .search-trigger {
    display: block;
    padding: 12px;
    font-size: 0;
    line-height: 0;
    color: lighten($grey, 40%);
    text-decoration: none;
    &:after {
      content: $icon-search;
      @extend .icon;
      display: block;
      font-size: 24px;
      line-height: 1;
      @include scale(1);
      @include transition(all 0.2s ease);
    }
    &:hover, &:focus {
      &:after {
        @include scale(1.3);
      }
    }
  }

  .input-group {
    visibility: hidden;
    position: absolute;
    right: 0;
    padding: 14px 20px;
    background-color: lighten($dark, 20%);
    font-size: 18px;
    @include opacity(0);
    @include transform(scaleX(0));
    @include transform-origin(right top);
    @include transition(all 0.4s ease);
  }

  input[type=search] {
    display: block;
    width: 180px;
    padding: em-calc(8) em-calc(10);
    border: 0;
    margin: 0 40px 0 0;
    @include transition(all 0.2s ease-out);
    &:focus {
      outline: none;
      @include box-shadow(inset 0 0 0 3px $blue);
    }
  }

  button[type=submit] {
    position: absolute;
    top: 14px;
    bottom: 14px;
    right: 20px;
    width: 40px;
    border: 0;
    background-color: $blue;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    @include transition(background 0.2s ease);
    &:hover, &:focus {
      outline: none;
      background-color: darken($blue, 20%);
    }
  }

  &.open {
    .search-trigger {
      background-color: lighten($dark, 20%);
    }
    .input-group {
      visibility: visible;
      @include opacity(1);
      @include transform(scaleX(1));
    }
  }
}
