.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tablet {
  display: none;
  @media #{$medium-down} { display: block; }
}
.mobile {
  display: none;
  @media #{$small-only} { display: block; }
}

.desktop {
  @media #{$medium-down} { display: none; }
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  @include grid-row();
}

.content-row {
  @include grid-row($no-columns: true);
}
