.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  @include grid-row();
  &.nested {
    margin-left: #{-($column-gutter/2)};
    margin-right: #{-($column-gutter/2)};
  }
}

.content-row {
  @include grid-row($no-columns: true);
}

.third {
  @include grid-column(12);
  @include breakpoint('(min-width: 620px)') {
    @include grid-column(4);
  }
}
