.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  @include grid-row();
  &.nested {
    margin-left: #{-($column-gutter/2)};
    margin-right: #{-($column-gutter/2)};
  }
}

.content-row {
  @include grid-row($no-columns: true);
}

.third {
  @include grid-column(12);
  @include breakpoint('(min-width: 620px)') {
    @include grid-column(4);
  }
}
